workspace/.metadata/.log
workspace/.metadata/.mylyn/.tasks.xml.zip
workspace/.metadata/.mylyn/tasks.xml.zip
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/1/a05aad51d51f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/13/30a58fcdd527001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/20/0088ebba4228001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/21/80add14ad51f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/26/807231ff4328001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/26/e0a5b2cbd41f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/3d/901c5431d627001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/3f/9071a14ed527001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/5/300842e4d41f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/6/1056385cd627001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/68/00a12e9fd527001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/6a/609533ff4328001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/6d/20893148d627001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/7c/f0b40e64d51f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/82/501dd1a44228001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/85/c0d0343fd627001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/8c/909d5b6d4328001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/91/304f4ed94228001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/92/30f497a94228001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/95/d0ccfdb02a28001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/b4/f0fd22342c28001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/b7/70229b3ad51f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/bd/30fc24213128001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/c0/50eb2cbbd527001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/c5/d0c8ee634428001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ca/708d98822b28001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/d6/206a35ff4328001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/d7/b0fae4754328001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/dc/60760d80d627001718b4c87d78d6f487
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/de/80c948184428001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/e/10ae7af44328001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/e4/10a2cb682b28001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ed/60313ad64228001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/f/d0a72da5d41f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/f6/b0a3c9b64228001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/f9/90b42ef0d41f00171268f6d64a4fa93d
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/fd/f025e3754328001711dbabe46333c290
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/busca-textual/.indexes/af/history.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/busca-textual/.indexes/e4/50/81/59/66/history.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/busca-textual/.indexes/e4/50/81/59/8f/history.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/busca-textual/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/busca-textual/.syncinfo.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/busca-textual/org.eclipse.jdt.core/state.dat
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/gerenciador/.markers
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/gerenciador/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/gerenciador/.syncinfo.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/gerenciador/org.eclipse.jdt.core/state.dat
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/12.tree
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/9.tree
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.resources/9.snap
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/Principal (1).launch
workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/Principal (2).launch
workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/Principal.launch
workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/Secundaria.launch
workspace/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
workspace/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
workspace/.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.jdt.core/1038809331.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1083173954.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1180877377.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1199826107.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1371506490.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1475717011.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1525087677.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1539866187.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1610507687.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1658076398.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1708110330.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1841280308.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/186878585.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/194205294.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1965866492.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2101475421.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2221491804.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2345036742.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2467401440.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2480020340.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2561179376.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2577513161.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2903815286.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2911469802.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2997567257.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/30881555.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3314433690.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/333409461.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3460920726.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3643810303.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3712157721.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3726721386.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/386166499.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3906713688.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/4016743427.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/4254505311.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/449440424.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/456790899.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/502062934.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/543038442.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/843494433.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/91472061.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/985401668.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
workspace/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
workspace/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
workspace/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/busca-textual/2017/4/15/refactorings.history
workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/busca-textual/2017/4/15/refactorings.index
workspace/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
workspace/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
workspace/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
workspace/.metadata/version.ini
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdt
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fdx
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.fnm
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.frq
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.nrm
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.prx
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tii
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_1.tis
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.fdt
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.fdx
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.fnm
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.frq
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.nrm
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.prx
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.tii
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_2.tis
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_2
workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_3
